<table class="cal" id="time-grid-table">
  <thead>
    <tr>
      <th class="time-grid-project"><%= l(:label_project) %></th>
      <th class="time-grid-issue"><%= l(:label_tracker) %></th>
      <th class="time-grid-issue"><%= l(:label_status) %></th>
      <th class="time-grid-issue"><%= l(:field_default_assigned_to) %></th>
      <th class="time-grid-issue"><%= l(:label_action) %></th>
    </tr>
  </thead>
  <tbody>
    <% @flows.each do |flow| %> 
      <tr style="height: 25px;!important">
        <td><%= Project.where(id:flow.id_project).first.name %></td>
        <td><%= Tracker.where(id:flow.id_trackers).first.name %></td>
        <td><%= IssueStatus.where(id:flow.id_state).first.name %></td>
        <td><%= User.where(id:flow.id_user).first.name %></td>
        <td class="buttons">
        <%= link_to l(:button_delete), { :action => 'delete', :id => flow.id },method: :post,class:"icon icon-del", data: { confirm: l(:notice_remove_flow) } %>
        </td>
      </tr>  
    <% end %>
  </tbody>
</table>
